{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <div class="container" align="center">
        <h2 align="center">Formulário</h2>
        <br>
        <hr>
        <form action="{% url 'processa_formulario' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label class="col-md-5" align="right" for="sist" >Sistema:</label>
                <div class="col-md-3">
                    <select class="form-select" id="sist" name="sist">
                        {% if sistema %}
                        {% for i in sistema %}
                            <option value={{ i.codigo }}>{{i.nome_sistema}}</option>
                        {% endfor %}
                        {% else %}
                            <option value="">Sem sistema</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label align="right" class="col-md-5" for="carteira">Carteira:</label>
                <div class="col-md-3">
                    <select class="form-select" id="carteira" name="carteira">
                        {% if carteira %}
                        {% for i in carteira %}
                            <option value={{ i.cod_carteira }}>{{i.nome_carteira}}</option>
                        {% endfor %}
                        {% else %}
                            <option value="">Sem carteira</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label align="right" class="col-md-5" for="ocorrencia">Ocorrência:</label>
                <div class="col-md-3">
                    <select class="form-select" id="ocorrencia" name="ocorrencia">
                        {% if ocorrencia %}
                        {% for i in ocorrencia %}
                            <option value={{ i.num_ocorrencia }}>{{i.desc_ocorrencia}}</option>
                        {% endfor %}
                        {% else %}
                            <option value="">Sem ocorrência</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-5" align="right" for="alo">ALO:</label>
                <div class="col-md-1">
                    <select class="form-select" id="alo" name="alo">
                        <option value=0>0</option>
                        <option value=1>1</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-5" align="right" for="cpc">CPC:</label>
                <div class="col-md-1">
                    <select class="form-select" id="cpc" name="cpc">
                        <option value=0>0</option>
                        <option value=1>1</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-5" align="right" for="promessa">Promessa:</label>
                <div class="col-md-1">
                    <select class="form-select" id="promessa" name="promessa">
                        <option value=0>0</option>
                        <option value=1>1</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1 offset-md-5" align="left">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
