{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <div class="container" align="center">
        <h3 align="center">Cadastrar nova ocorrência</h3>
        <br>
        <hr>
    {% if ocorrencia %}
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-dark">Atualizar</button>
        </form>
    {% else %}
        <form method="POST" action="{% url 'create_ocorrencia' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-dark">Enviar</button>
        </form>
    </div>
    {% endif %}
{% endblock %}